<a href="https://colab.research.google.com/github/mhfaisaluddin/sql-mini-project/blob/main/sql_mini_porto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Mini Portofolio

In [ ]:
# connecting to database
import psycopg2
%load_ext sql

%sql postgresql://jnlosugsvinhfn:9bd88f7a2e2e22c32bd0ff9450d6022f09b6a6888f71b6c6869f7a611667ad3d@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh

'Connected: jnlosugsvinhfn@d2604bq39tv4uh'

## Create Table

In [ ]:
# dim_geography

%%sql

CREATE TABLE public.dim_geography (
  geography_id int4 primary key,
  city varchar(50),
  state_province_code varchar(5),
  state_province_name varchar(50),
  country_region_code varchar(5),
  english_country_region_name varchar(50),
  postal_code varchar(10)
);

 * postgresql://jnlosugsvinhfn:***@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh
Done.

[]

In [ ]:
# dim_customer

%%sql

CREATE TABLE public.dim_customer (
  customer_id int4 primary key,
  geography_id int4,
  customer_name varchar(100),
  birthdate date,
  maritalstatus varchar(5),
  gender varchar(5),
  datefirstpurchase date,
  foreign key(geography_id) references dim_geography(geography_id)
);

 * postgresql://jnlosugsvinhfn:***@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh
Done.

[]

In [ ]:
# dim_product

%%sql

CREATE TABLE public.dim_product (
  product_id int4 primary key,
  product_name varchar(100),
  model_name varchar(100),
  color varchar(30),
  size_range varchar(30),
  "cost" numeric(10),
  normal_price numeric(100),
  sub_caegory varchar(100),
  category varchar(100)
);

 * postgresql://jnlosugsvinhfn:***@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh
Done.

[]

In [ ]:
# dim_territory

%%sql

CREATE TABLE public.dim_territory (
  territory_id int4 primary key,
  region varchar(30),
  country varchar(30),
  "groups" varchar(30)
);

 * postgresql://jnlosugsvinhfn:***@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh
Done.

[]

In [ ]:
# fact_sales

%%sql

CREATE TABLE public.fact_sales (
  order_detail_id varchar(30) primary key,
  order_date date,
  product_id int4,
  customer_id int4,
  territory_id int4,
  sales_order_number varchar(30),
  sales_order_line_number int4,
  quantity int4,
  unitprice_rupiah numeric(12),
  totalprice_rupiah numeric(12),
  totalcost_rupiah numeric(12),
  shippingprice_rupiah numeric(12),
  foreign key(product_id) references dim_product(product_id),
  foreign key(customer_id) references dim_customer(customer_id),
  foreign key(territory_id) references dim_territory(territory_id)
);

 * postgresql://jnlosugsvinhfn:***@ec2-34-200-205-45.compute-1.amazonaws.com:5432/d2604bq39tv4uh
Done.

[]

Import the data (.csv) via dbeaver